<div class="infowindow">

  <div class="card-index-map">
    <div class="card-index-user-name"> <b><%= expert.first_name %></b></div>
    <div class="card-index-user-city"> <%= expert.city %></div>
    <div class="card-index-avatar"> <%= image_tag expert.picture, class:"avatar-large" %> </div>
    <div class="card-index-rating">
      <% expert.rating.round.times do %>
        <%= image_tag 'biscauto_logo_small.png', class:"avatar-tiny" %>
      <% end %>
    </div>
    <button class="btn card-index-profile-btn btn-primary" data-toggle="modal" data-target="#profile-modal-<%=expert.id%>">Afficher le profil</button>
    <button class="btn card-index-request-btn btn-danger" data-toggle="modal" data-target="#booking-modal-<%= expert.id %>">Faire une demande</button>
  </div>

</div>
