
<div class="container">
<h1> Nos experts à proximité</h1>

  <div class="row">
    <div id="map" class="col-sm-6" style=" height: 600px; margin: 20px;">
    </div>

    <div class="col-sm-5">
       <% @experts_around.each do |expert| %>
         <div class="row">
          <div class="col-sm-12 card-index">
            <div class="card-index-user-name"> <b><%= expert.first_name %></b></div>
            <div class="card-index-user-city"> <%= expert.city %></div>
            <div class="card-index-avatar"> <%= image_tag expert.picture, class:"avatar-large" %> </div>
            <div class="card-index-rating">
              <% expert.rating.round.times do %>
                <%= image_tag 'biscauto_logo_small.png', class:"avatar-tiny" %>
              <% end %>
            </div>
            <div class="card-index-profile-btn">  <%= link_to "Voir le profil", user_path(expert), class: "btn btn-primary"%></div>
            <div class="card-index-request-btn">  <%= link_to "Faire une demande", new_user_booking_path(expert), class: "btn btn-danger"%></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
